@model Platformus.Website.Frontend.ViewModels.Shared.MenuItemViewModel
@{
  string url = string.Equals(this.Context.Request.Path.ToString(), "/")
    ? $"/{System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName}/"
    : this.Context.Request.Path.ToString();

  bool isActive = string.Equals(this.Model.Url, url, StringComparison.OrdinalIgnoreCase);
  string levelSuffix = this.Model.Level == 1 ? null : "-level-" + this.Model.Level;
}
<div class="menu__item@(levelSuffix) @(isActive ? "menu__item--active" + levelSuffix : null)">
  <a class="menu__item-name@(levelSuffix) @(isActive ? "menu__item-name--active no-highlighting" + levelSuffix : null)" href="@Model.Url">@Model.Name</a>
  @if (this.Model.MenuItems.Count() != 0)
  {
    <div class="menu__items-level-@(this.Model.Level + 1)">
      @foreach (var menuItem in this.Model.MenuItems)
      {
        menuItem.Level = this.Model.Level + 1;
        @Html.Partial("_MenuItem", menuItem)
      }
    </div>
  }
</div>